 <div> 
    List of Associated Reviews
<!--    <ul>
     <% 


#     <% Reviews.find_by( @movies)

#     @current_user = user.find_by(id: session[:user_id])


#     <% .each do |r| %>
     <li> 
       <%= #"#{r.id}" %>
       <%= # "#{r.user_id}" %>
       <%= # "#{r.text}" %>
       <%= # "#{r.rating}" %> 
     </li>
   </ul>
   <% # end %> -->
 </div> 


 <!-- <ul>
   <% # @movies.each do |m| %>
   <li> 
    <a href="/movie/<%= # "#{m.id}" %>"><%= # "#{m.title}" %></a> 
   </li> 
 </ul>
 <% # end %> -->